:root {
    --highlight: rgba(255, 255, 255, 0.5);
    --lowlight: rgba(0, 0, 0, 0.3);
}

html {
    font-family: monospace;
    background-color: lightgray;
}

header {
    width: 492px;
    margin: 0 auto;
    border-top: 8px solid var(--highlight);
    border-right: 8px solid var(--lowlight);
    border-bottom: 8px solid var(--lowlight);
    border-left: 8px solid var(--highlight);
}

h1 {
    text-align: center;
}

nav {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    width: 476px;
    margin: 0 auto;
    padding: 8px;
}

nav button {
    border-radius: 0;
    background-color: transparent;
    border-top: 4px solid var(--highlight);
    border-right: 4px solid var(--lowlight);
    border-bottom: 4px solid var(--lowlight);
    border-left: 4px solid var(--highlight);
}

nav button:hover {
    background-color: transparent;
}

nav button:active {
    border-top: 4px solid var(--lowlight);
    border-right: 4px solid var(--highlight);
    border-bottom: 4px solid var(--highlight);
    border-left: 4px solid var(--lowlight);
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: yellow;
}

.four {
    color: darkorange;
}

.five {
    color: red;
}

.six {
    color: purple;
}

.seven {
    color: pink;
}

.eight {
    color: blue;
}

#board {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    cursor: pointer;
    border-top: 4px solid var(--highlight);
    border-right: 4px solid var(--lowlight);
    border-bottom: 4px solid var(--lowlight);
    border-left: 4px solid var(--highlight);
}

#board p {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    line-height: 42px;
    text-align: center;
    border-top: 4px solid var(--highlight);
    border-right: 4px solid var(--lowlight);
    border-bottom: 4px solid var(--lowlight);
    border-left: 4px solid var(--highlight);
}

#board p:active {
    border-top: 4px solid var(--lowlight);
    border-right: 4px solid var(--highlight);
    border-bottom: 4px solid var(--highlight);
    border-left: 4px solid var(--lowlight);
}

#board .clicked {
    width: 50px;
    height: 50px;
    border: none;
}

#board .clicked:active {
    border: none;
}