h1 {
    text-align: center;
}

.clicked {
    background-color: green;
    color: white;
}

.bomb {
    background-color: pink;
}

#board {
    width: 500px;
    margin: 0 auto;
    border: 1px solid black;
    display: flex;
    flex-flow: row wrap;
}

#board p {
    width: 48px;
    height: 48px;
    margin: 0;
    padding: 0;
    line-height: 48px;
    text-align: center;
    border: 1px solid gray;
}