html {
    font-family: monospace;
}

h1 {
    text-align: center;
}

.one {
    color: blue;
}

.two {
    color: green;
}

.three {
    color: yellow;
}

.four {
    color: orange;
}

.five {
    color: red;
}

.six {
    color: purple;
}

.seven {
    color: pink;
}

.eight {
    color: blue;
}

#board {
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-flow: row wrap;
    border-top: 4px solid lightgray;
    border-right: 4px solid gray;
    border-bottom: 4px solid gray;
    border-left: 4px solid lightgray;
}

#board p {
    width: 42px;
    height: 42px;
    margin: 0;
    padding: 0;
    line-height: 42px;
    text-align: center;
    background-color: darkgray;
    border-top: 4px solid lightgray;
    border-right: 4px solid gray;
    border-bottom: 4px solid gray;
    border-left: 4px solid lightgray;
}

#board .clicked {
    width: 50px;
    height: 50px;
    border: none;
}